
app.get('/seed', async (req, res) => {
  try {
    const count = await Product.countDocuments();
    if (count > 0) return res.json({ message: 'Already seeded', count });

    const products = [
      {
        name: 'Organic Bananas',
        origin: 'Kenya',
        price: 120,
        strikePrice: 150,
        discountPercent: 10,
        discountQty: 5,
        images: ['/images/cruchy.png',]
      },
      {
        name: 'Ethiopian Coffee',
        origin: 'Ethiopia',
        price: 550,
        strikePrice: 600,
        discountPercent: 8,
        discountQty: 3,
        images: ['/images/blants.png']
      },
      {
        name: 'Sweet Mangoes',
        origin: 'Taita Taveta',
        price: 300,
        strikePrice: 350,
        discountPercent: 10,
        discountQty: 4,
        images: ['/images/wholesome.png']
      }
    ];

    await Product.insertMany(products);
    res.json({ message: 'Seeded successfully', count: products.length });
  } catch (err) {
    console.error(err);
    res.status(500).json({ message: 'Error seeding products' });
  }
});